@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
  @apply no-underline transition-all;
}

.prose h1,
h2,
h3,
h4,
h5,
li,
a,
strong,
p,
span,
code {
  font-family: var(--font-nanum);
}

.prose h2,
h3,
h4,
li,
strong,
p {
  @apply text-primary;
}

.prose code:not(:where(pre *)) {
  @apply text-base font-light text-neutral-550;
}

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before {
  content: "";
}
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}
.prose .anchor:after {
  content: "#";
  mask-repeat: no-repeat;
  mask-position: center;

  @apply h-4 w-4 bg-transparent text-neutral-50 dark:text-neutral-850;
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply text-neutral-550;
}

[data-chars-id="v"] {
  @apply mx-2 rounded border-b-2 border-b-[#db2777] bg-[#9f123980] p-1 text-[#f9a8d4] dark:text-neutral-850;
}

[data-chars-id="s"] {
  @apply mx-2 rounded border-b-2 border-b-[#9333ea] bg-[#6b21a880] p-1 text-[#f9a8d4] dark:text-neutral-850;
}

.prose [data-line] {
  @apply mb-1;
}

.prose
  :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply text-primary relative;
}

.prose
  :where(strong):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  @apply absolute bottom-[-5px] left-0 h-[5px] w-full bg-[url('/image/wave.png')] bg-cover content-[""];
}

/* .prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  @apply mx-2 rounded border-b-2 border-b-neutral-550 bg-neutral-148 p-1 dark:text-neutral-850 dark:bg-neutral-350;
} */

.prose [data-rehype-pretty-code-title] {
  @apply relative h-[53px]  rounded-t-lg border-b-0 border-gray-200 bg-[#434041] pl-20 pt-4 text-sm font-bold text-neutral-50 dark:bg-neutral-850;
  font-family: var(--font-nanum);
}
.prose [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

.prose
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  quotes: none;
  @apply rounded-xl border-s-[#1e90ff] bg-[#f8f9fa] p-3.5 not-italic dark:bg-primary;
}
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply text-primary;
}
.prose
  :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply shadow-xl;
}

.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply my-0 text-base leading-[1.8];
}

.prose [data-rehype-pretty-code-title]::after {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 1200.000000 1200.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1200.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M5600 11579 c-632 -52 -1246 -225 -1815 -513 -518 -263 -950 -581%0A-1341 -988 -774 -807 -1238 -1819 -1356 -2958 -17 -166 -17 -754 0 -920 107%0A-1033 487 -1937 1142 -2719 647 -772 1551 -1343 2525 -1596 421 -109 794 -155%0A1254 -155 441 0 786 42 1201 146 1397 349 2581 1308 3220 2609 515 1048 641%0A2229 360 3370 -346 1404 -1317 2602 -2625 3240 -560 273 -1139 431 -1780 485%0A-141 12 -634 11 -785 -1z'/%3E%3C/g%3E%3C/svg%3E");
  top: 19px;
  left: 30px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  background-color: #f6bd3b;
  width: 15px;
  height: 15px;
}
.prose [data-rehype-pretty-code-title]::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 1200.000000 1200.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1200.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M5600 11579 c-632 -52 -1246 -225 -1815 -513 -518 -263 -950 -581%0A-1341 -988 -774 -807 -1238 -1819 -1356 -2958 -17 -166 -17 -754 0 -920 107%0A-1033 487 -1937 1142 -2719 647 -772 1551 -1343 2525 -1596 421 -109 794 -155%0A1254 -155 441 0 786 42 1201 146 1397 349 2581 1308 3220 2609 515 1048 641%0A2229 360 3370 -346 1404 -1317 2602 -2625 3240 -560 273 -1139 431 -1780 485%0A-141 12 -634 11 -785 -1z'/%3E%3C/g%3E%3C/svg%3E");
  left: 10px;
  top: 19px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
}

.prose
  :where(figure):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 1200.000000 1200.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1200.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M5600 11579 c-632 -52 -1246 -225 -1815 -513 -518 -263 -950 -581%0A-1341 -988 -774 -807 -1238 -1819 -1356 -2958 -17 -166 -17 -754 0 -920 107%0A-1033 487 -1937 1142 -2719 647 -772 1551 -1343 2525 -1596 421 -109 794 -155%0A1254 -155 441 0 786 42 1201 146 1397 349 2581 1308 3220 2609 515 1048 641%0A2229 360 3370 -346 1404 -1317 2602 -2625 3240 -560 273 -1139 431 -1780 485%0A-141 12 -634 11 -785 -1z'/%3E%3C/g%3E%3C/svg%3E");
  left: 50px;
  top: 19px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  background-color: #2bca42;
  width: 15px;
  height: 15px;
}
.prose
  :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  position: relative;
}
[data-highlighted-line] {
  background: #c8c8ff1a;
  opacity: 1;
  border-left-width: 6px;
}
/* 
.prose .anchor:after {
  content: " ";
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;

  @apply h-4 w-4 bg-neutral-700 dark:bg-neutral-400;
} */

.reference {
  @apply text-right text-neutral-140;
}
