@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(../styles/prose.css); */

html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  color:var(--color-primary);
  background: var(--color-bg-primary);
}


:root {
  color-scheme: light;
  --color-bg-primary:@apply bg-neutral-50;

}

:root[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-primary:@apply bg-neutral-900;
  --color-text-secondary:#fff;
}


p,h1,h2,h3,h4,a{
  color:var(--color-text-secondary);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



@layer components {
  .backdrop {
    backdrop-filter: blur(15px);
  }

  .pre {
    font-family: var(--font-pre);
  }

  .suit {
    font-family: var(--font-suit);
  }
  .background-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/Image/wave.jpeg") center/cover no-repeat;
    border-radius: 20px;
    z-index: -1;
  }
}
