@import "./styles/prose.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  color: var(--color-primary);
  background: var(--color-bg-primary);
}

:root {
  color-scheme: light;
  --color-bg-primary: @apply bg-neutral-50;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --color-bg-primary: @apply bg-neutral-900;
  --color-text-secondary: #fff;
}

h1,
h2,
h3,
h4,
a,
p,
span,
label {
  font-family: var(--font-nanum);
}
p,
h1,
h2,
h3,
h4,
a {
  color: var(--color-text-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components {
  .backdrop {
    backdrop-filter: blur(15px);
  }

  .pre {
    font-family: var(--font-pre);
  }

  .suit {
    font-family: var(--font-suit);
  }
  .background-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/Image/wave.jpeg") center/cover no-repeat;
    border-radius: 20px;
    z-index: -1;
  }

  .tag {
    @apply w-20 rounded-xl bg-neutral-50 p-1 text-center text-[12px] font-semibold dark:bg-neutral-50;
  }

  .tail {
    transition: stroke-dashoffset 0.5s linear 1s;
    stroke-dasharray: 31.95920181274414 31.95920181274414;
    stroke-dashoffset: 15.81138801574707;
    stroke: #000;
  }
  .point {
    stroke: #000;
    transition: stroke-dashoffset 0.5s linear 1.65s;
    stroke-dasharray: 15.81138801574707 15.81138801574707;
    stroke-dashoffset: 15.81138801574707;
  }
}
