@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(../styles/prose.css); */

html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  /* overflow-y: auto; */
}

@layer components {
  .backdrop {
    backdrop-filter: blur(15px);
  }

  .pre {
    font-family: var(--font-pre);
  }

  .suit {
    font-family: var(--font-suit);
  }
  .background-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/Image/wave.jpeg") center/cover no-repeat;
    border-radius: 20px; /* 원하는 값으로 조정하세요 */
    z-index: -1;
  }
}
